<ul class="list-group">
  <li ng-repeat="page in pages" class="list-group-item">
    {{page.title}}
    <span ng-if="showFirstPublished && page.firstPublished" class="epe-first-published">
      ({{page.firstPublished | date:'medium'}})
    </span>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-xs btn-default" ng-click="editPage({pageIndex: $index, page: page})" title="Seite bearbeiten..." ng-disabled="disabled">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-xs btn-danger" ng-click="removePage({pageIndex: $index, page: page})" title="Seite löschen" ng-disabled="disabled">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
  <div class="btn-group">
    <button class="btn btn-default" ng-click="addPage()" title="Neue Seite anlegen..." ng-disabled="disabled">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</ul>
